{
  "arrowParens": "always",
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.angular.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
