name: CI

on:
  pull_request: ~
  push:
    branches: [main]

jobs:
  ci:
    name: 'Test: Node ${{ matrix.node-version }} - Stylelint ${{ matrix.stylelint-version }}'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        stylelint-version: [16.x]
        node-version: [22.x, 20.x, 18.x]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Use Stylelint ${{ matrix.stylelint-version }}
        run: pnpm upgrade stylelint@${{ matrix.stylelint-version }}

      - name: Install
        run: pnpm install

      - name: Test
        run: pnpm run test

      - name: Lint
        run: pnpm run lint
